<div class="layout h--full">
  {% if photo_url and photo_url != '' %}
  <div class="flex flex--center-x flex--center-y h--full">
    <img src="{{ photo_url }}"
         alt="Photo"
         class="image image--contain"
         style="max-width: 100%; max-height: 100%; object-fit: contain;">
  </div>
  {% else %}
  <div class="flex flex--col flex--center-x flex--center-y gap--medium h--full">
    <div class="value value--large text--center">📷</div>
    <div class="title title--medium text--center">No Photos Available</div>
    <div class="description text--center">
      Please configure your Google Photos shared album URL in the plugin settings.
    </div>
  </div>
  {% endif %}
</div>
