<div class="layout p--2">
  <div class="flex flex--row gap--medium portrait:flex--col flex--center-y h--full">
    <!-- Photo Display -->
    <div class="flex flex--center-x flex--center-y h--full">
      <img src="https://picsum.photos/300/200?grayscale" 
           alt="Mountain landscape with snow-capped peaks" 
           class="image image--contain">
    </div>
    
    <!-- Caption (if available) -->
    <div class="flex flex--col gap--xsmall w--40">
      <span class="description" data-clamp="4">Mountain landscape with snow-capped peaks reflecting in a crystal clear alpine lake during golden hour</span>
      <span class="label label--small">142 photos in album</span>
    </div>
  </div>
</div>

<div class="title_bar">
  <span class="title">Google Photos Album</span>
</div>
