<div class="layout p--2">
  <div class="flex flex--col gap--small h--full">
    <!-- Photo Display Area -->
    <div class="flex flex--center-x flex--center-y h--full">
      <img src="https://picsum.photos/300/200?grayscale" 
           alt="City street at night with colorful lights" 
           class="image image--contain">
    </div>
    
    <!-- Caption (if available) -->
    <div class="text--center">
      <span class="description" data-clamp="2">City street at night with colorful lights and bustling activity</span>
    </div>
  </div>
</div>

<div class="title_bar">
  <span class="title">Google Photos Album</span>
</div>
