<div class="layout p--1">
  <div class="flex flex--col gap--xsmall h--full">
    <!-- Photo Display Area (most of the space) -->
    <div class="flex flex--center-x flex--center-y h--full">
      <img src="https://picsum.photos/300/200?grayscale" 
           alt="Cute pet photo" 
           class="image image--contain image-dither">
    </div>
  </div>
</div>

<div class="title_bar">
  <span class="title title--small">Google Photos</span>
</div>
